html{
	box-shadow: inherit;
}
*{
	box-sizing: inherit;
}
body{
	margin:0;
	padding:0;
	font-family: "Cuprum",Arial,sans-serif; 
	background:#ffffff;
}
a{
	text-decoration: none;
}
.order-list{
	background-color:#293449;
	color:#ffffff;
	font-size:17px;
	line-height:18px; 
}

.order-list,
.nav-list,
.user-list,
.user-list-catalog,
.stuff-list,
.manufacturers-list,
.partners-list,
.foot-nav-list-first,
.foot-nav-list-second,
.social-list,
.page-list,
.filters-list{
	list-style: none;
}
.order-list a,
.nav-list a,
.stuff-list a,
.manufacturers-list a,
.partners-list a,
.foot-nav-list-first a,
.foot-nav-list-second a,
.social-list a{
	color:#ffffff;
}
.page-list a{
	color:#000000;
}
.header-dark{
	background-color:#32425c;
}
.header-gray{
	background-color:#f3f7f9; 
}
.user-list,
.user-list-catalog{
	font-size:21px;
	line-height:21px;
	background-color:#ffffff;
}
.user-list a,
.user-list-catalog a{
	color:#000000;
}
.order-list a:hover,
.order-list a:focus{
	background:#212a3a;
}
.nav-list a:hover,
.nav-list a:focus{
	background-color:#293449;
}
.order-list a:active,
.nav-list a:active{
background-color:#1d2739;
opacity:0.6;
}
.green a:active{
	background-color:#518534;
	opacity:0.5;
}
.green a:hover,
.green a:focus{
background-color:#5fbb2d;
}
.user-list a:hover,
.user-list a:focus,
.user-list-catalog a:hover,
.user-list-catalog a:focus{
	color:#ee3643;
}
.user-list a:active,
.user-list-catalog a:active{
	color:#444444;
	opacity:0.3;
}
.title{
	font-size:30px;
	line-height:30px;
	text-transform: uppercase;
	color:#32425c;
}
.logo-top{
	width:220px;
	/*height:42px;*/
	background-color:#ee3643;
	color:#ffffff;
	font-size:24px;
	line-height:42px;
	text-align:center;
	text-transform: uppercase;
	box-shadow:0px 5px 0px #b52933;
}
.logo-foot{
	width:220px;
	/*height:42px;*/
	background-color:#ee3643;
	color:#ffffff;
	font-size:24px;
	line-height:65px;
	text-align:center;
	text-transform: uppercase;
	box-shadow:0px 5px 0px #b52933;
}
.logo-top:hover,
.logo-top:focus,
.logo-foot:hover,
.logo-foot:focus{
	background-color:#ca2c37;
}
.logo-top:active,
.logo-foot:active{
	background-color:#ba2732;
}
.information{
	font-size:13px;
	line-height:24px;
}
.partners-list{
	font-size:18px;
	line-height:20px;
	font-weight:350px;
}
.button{
	background-color:#ee3643;
	color:#ffffff;
}
button{
	border:0px;
}
.main-footer{
	color:#ffffff;
}
.footer-dark{
	background-color:#293449;
}
.link{
	color:#f1d092;
}
.foot-nav-list-second a{
	color:#f1d092;
}
.foot-nav-list-first a:hover,
.foot-nav-list-first a:focus,
.foot-nav-list-second a:hover,
.foot-nav-list-second a:focus{
text-decoration: underline;
}
.foot-nav-list-first a:active,
.foot-nav-list-second a:active{
text-decoration: underline;
opacity:0.5;
}

.link a:hover,
.link a:focus{
text-decoration: underline;
}
.underline a{
	text-decoration: underline;
	font-size:16px;
	line-height:18px;
}
.underline a,
address{
	color:#32425c;
}
.user-list .personal a{
	font-size:21px;
	line-height:21px;
	color:#000000;
}
.user-list .personal:hover,
.user-list .personal:focus{
color:#000000;
}
address{
	font-size:14px;
	line-height:24px;
}
.phone-number{
	font-size:21px;
	line-height:21px;
	color:#e9292a;
}
.footer-contacts .phone-number{
	font-size:18px;
	line-height:24px;
	color:#ffffff;
}
.green{
	background-color:#63a63e;
}
.red{
	background-color:#ee3643;
}
.grey{
	background-color:#f3f7f9; 
}
.previous-page li{
	font-size:13px;
	line-height:18px;
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
}
.discription h2{
	text-transform: uppercase;
}
.link:focus,
.link:hover{
	text-decoration: underline;
}
.link:active{
	text-decoration: none;
	color:#ee3643;
}
.show-button{
	background-color:#ffffff;
	border:1px solid grey;
	font-size:13px;
	line-height: 18px;
	color:#000000;
}
.filters-list{
	font-size:15px;
	line-height: 20px;
	color:#000000;
}
.filters-list h3{
	font-size:17px;
	line-height: 30px;
	font-weight: 700px;
	color:#000000;
}
.main-header h1{
	font-family: "Cuprum",Arial,sans-serif; 
	font-size: 16px;
	line-height: 23px;
	font-style:italic;
	color: #ee3643;
	font-weight: 350px;
}
/*сетка*/
 .main-header{
	margin-bottom: 60px;
	background: red;
	
}
.header-top{
	width: 100%;
	background-color: #293449;
	margin: 0;
}
.order-list{
	display:flex;
	margin: 0;
}
.header-bottom{
	width: 100%;
	background-color: #f3f7f8;
	padding-bottom: 60px;
	padding-top:49px;
	margin-bottom: 60px;
}
.centerer{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	background: rgba(200,225,45,0.2);
}
.top-wrapper{
	display: flex;

}
.order-list{
	display: flex;
	width: 460px;
	background: rgba(240,225,45,0.2);
}
.slogan{
	width: 301px;
	background: rgba(240,225,45,0.2);
	display:flex;
}
.header-contacts{
	display:flex;
	width: 301px;
	flex-direction: column;
	background: rgba(240,225,45,0.2);
}
.user-list{
	display:flex;
	width:301px;
	background: rgba(240,225,45,0.2);
}
.user-list-catalog{
	display:flex;
	flex-direction: column;
	width:301px;
	background: rgba(240,225,45,0.2);
}
.info-wrap{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	justify-content: space-between;
	padding-bottom: 45px;
}
.nav-wrap{
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	background: rgba(240,225,45,0.2);
	
}
.nav-list{
	width: 940px;
	display: flex;
	justify-content: space-around;
	/*background: rgba(240,225,45,0.2);*/
	background-color: #32425c;
	box-shadow: 0px 5px 0px #293449;
}
.main-wrap{
	width:100%;
	background-color:#ffffff;
}
.wrap-menu-top{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	background: rgba(200,225,45,0.2);
	margin-bottom: 20px;
	justify-content: space-between;
}
.wrap-menu-bottom{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	background-color:rgba(200,225,45,0.2);
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 55px;
}
.materials{
	width:300px;
	height:130px;
	background-color: #ffbf47;
}
.instruments{
	width:300px;
	height:130px;
	background-color: #3bbce3;
}
.technics{
	width:300px;
	height:130px;
	background-color: #dc91d8;
}
.slyder-catalog{
	width:620px;
	height:270px;
	background-color: darkcyan;
}
.sales{
	width:300px;
	height:130px;
	background-color: #8ed78f;
}
.delivery{
	width:300px;
	height:130px;
	background-color: #ffc047;
}
.popular{
	display: flex;
	justify-content: space-between;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	background: #f9f5f0;
	margin-bottom: 20px;
}
.stuff-center{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	background-color:rgba(200,225,45,0.2);
	margin-bottom: 20px;
}
.stuff-list{
	display:flex;
}
.manufacturers-center{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	background-color:rgba(200,225,45,0.2);
	margin-bottom: 85px;
}
.manufacturers-list{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Service{
	width:100%;
	background-color: #f4f7f9;
}
.service-wrapper{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	background-color:rgba(200,225,45,0.2);
}
.information{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	background-color:#ffffff;
	padding-top: 82px; 
	padding-bottom: 82px; 
}
.discription{
	margin: 0px;
	width:540px;
	margin-right:103px;
	background-color:rgba(200,225,45,0.2);
}
.contacts{
	width:301px;
	background-color:rgba(200,225,45,0.2);
}
.foot-navigation{
	display:flex;
	width:100%;
	background-color: #32425c;
	padding-bottom: 60px;
}
.foot-center{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
}
.foot-contacts{
	display:flex;
	flex-direction: column;
	width:380px;
	background-color:rgba(200,225,45,0.2);
	margin-right: 10px;
}
.logo-bottom{
margin-bottom: 32px;
}
.foot-nav{
	display:flex;
	width:550px;
	background-color:rgba(200,225,45,0.2);
}
.foot-nav-list-first,
.foot-nav-list-second{
	display:flex;
}
.foot-feedback{
	display: flex;
	width:100%;
	background-color:#293449;
	padding-bottom: 32px;
	padding-top: 32px;
}
.feedback-wrap{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	justify-content: space-between;
}
.copyrights{
	display:flex;
	width:320px;
	background-color:rgba(200,225,45,0.2);
}
.feedback-contacts{
	display:flex;
	width:320px;
	background-color:rgba(200,225,45,0.2);
}
.social-list{
	display: flex;
	justify-content: space-between;
}
/*Каталог*/
.header-bottom-catalog{
	width: 100%;
	background-color: #f3f7f8;
	padding-bottom: 60px;
	padding-top:49px;
	/*margin-bottom: 60px;*/
}
.page-wrapper{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
}
.previous-page{
	display:flex;
	width:380px;
	background-color:rgba(200,225,45,0.2);
}
.discription{
	width:100%;
	background-color: #f2f6f8;
}
.discription-wrapper h2{
	margin:0;
	padding:0;
}
.discription-wrapper{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
	flex-direction: column;
	padding-bottom: 73px;
	padding-top:68px;
}

.title-wrapper{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
}
.title{
	width:940px;
	background-color: #f2f6f8;
	padding-top:33px;
	padding-bottom: 33px;
	padding-left:30px;
}
.filter-wrapper{
	display: flex;
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
}
.filter{
	display:flex;
	width:220px;
	background-color:rgba(200,225,45,0.2);
	margin-right:20px;
}
.sort{
	display:flex;
	width:700px;
	background-color:rgba(200,225,45,0.2);
}
/*.main-catalog{
	display:flex;
	justify-content: space-between;
}
.filters{
	display:flex;
	width:220px;
	background-color:rgba(200,225,45,0.2);
}
.catalog{
	display:flex;
	width:700px;
	background-color:rgba(200,225,45,0.2);
}*/
/*.modal{
visibility: hidden;
}*/
/*.order-wrap{
	display:flex;
	width:462px;
	margin-left:auto;
	background: rgba(200,105,45,0.2);
}
.info{
	display:flex;
	justify-content: space-around;
}
.wrap-slogan{
	display:flex;
	width:302px;
	background: rgba(200,225,45,0.2);
}
.wrap-contacts{
	display:flex;
	flex-direction: column;
	width:302px;
	background: rgba(200,225,45,0.2);
}
.user-navigation{
	display:flex;
	flex-direction: column;
	width:302px;
	background: rgba(200,225,45,0.2);
}
.footer-dark{
	display:flex;
}
.copyrights{
	margin:0px;
	display:flex;
	width:232px;
	background: rgba(200,225,45,0.2);
	margin-right:162px;
}
.footer-social{
	margin:0px;
	display:flex;
	width:242px;
	background: rgba(200,225,45,0.2);
	margin-right:102px;
}
.social-list{
	display:flex;
	background: rgba(200,225,45,0.2);
}
.feedback-contacts{
	margin:0px;
	display:flex;
	width:300px;
	background: rgba(200,225,45,0.2);
}*/
/*.order-navigation,
.user-navigation,
.main-navigation{
	margin:0px;
	padding:0px;
}
.order-navigation{
	display:flex;
}
.order-wrap{
	display:flex;
	
}
.logo-search{
	display:flex;
	width:480px;
}
.order-list{
	width:470px;
	display:flex; 
	justify-content: space-between;
}
.main-navigation{
	display:flex;
}
.nav-list{
	display:flex;
	width: 940px;
	justify-content: space-between;
}
.container{
	display:flex;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}*/