html{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;
	font-family: "Cuprum","Arial",sans-serif; 
	background: #ffffff;
}
a{
	text-decoration: none;
}
.hidden:not(:focus):not(:active),
	input[type="checkbox"].hidden,
	input[type="radio"].hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.order-list{
	background-color: #293449;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px; 
	text-align: center;
}
.order-cart{
	position: absolute;
	top: 28%;
	left: 12%;
	fill: rgba(255,255,255,0.3);
}
.nav-cart{
	margin-left: 19px;
}
.order-bookmark{
	position: absolute;
	top: 28%;
	left: 11%;
	fill: rgba(255,255,255,0.3);
}
.order-list-catalog{
	background-color: #293449;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px; 
	text-align: center;
}
.order-list-catalog li:last-child,
.order-list li:last-child{
	background-color: #63a63e;
}
.order-list-catalog li:nth-child(2){
	background-color: #ee3643;
}
.order-list,
.order-list-catalog,
.nav-list,
.user-list,
.user-list-catalog,
.stuff-list,
.manufacturers-list,
.partners-list,
.foot-nav-list-first,
.foot-nav-list-second,
.social-list,
.page-list,
.filters-list{
	list-style: none;
}
.order-list a,
.order-list-catalog a,
.nav-list a,
.stuff-list a,
.manufacturers-list a,
.partners-list a,
.foot-nav-list-first a,
.foot-nav-list-second a,
.social-list a{
	color: #ffffff;
}
.page-list a{
	color: #000000;
}
.header-dark{
	background-color: #32425c;
}
.header-gray{
	background-color: #f3f7f9; 
}
.user-list,
.user-list-catalog{
	font-size: 21px;
	line-height: 21px;
}
.nav-list{
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}
.user-list a,
.user-list-catalog a{
	color: #000000;
}
.order-list li:hover,
.order-list li:focus{
	background: #212a3a;
}
.order-list li:last-child:hover,
.order-list li:last-child:focus{
	background: #5fbb2d;
}
.order-list-catalog li:nth-child(2):hover,
.order-list-catalog li:nth-child(2):focus{
	background: #ca2c37;
}
.order-list-catalog li:hover,
.order-list-catalog li:focus{
	background: #212a3a;
}
.order-list-catalog li:last-child:hover,
.order-list-catalog li:last-child:focus{
	background: #5fbb2d;
}
.nav-list a:hover,
.nav-list a:focus{
	background-color: #293449;
}
.order-list li:not(:last-child):active,
.order-list-catalog li:not(:last-child):active,
.nav-list li:active{
	background-color: #1d2739;
}
.nav-item:active a{
	color: rgba(255,255,255,0.5);
}
.order-list li:last-child:active,
.order-list-catalog li:last-child:active{
	background: #518534;
}
.order-list-catalog li:nth-child(2):active{
	background: #ba2732;
}
.order-list a:active,
.order-list-catalog a:active{
	opacity: 0.6;
}
.order-link:hover .order-bookmark,
.order-link:focus .order-bookmark{
	fill: rgba(255,255,255,1);
}
.order-link:hover .order-cart,
.order-link:focus .order-cart{
	fill: rgba(255,255,255,1);
}
.user-name:hover .logo-user{
	fill: #32425c;
}
.user-list a:hover,
.user-list a:focus,
.user-list-catalog a:hover,
.user-list-catalog a:focus{
	color: #ee3643;
	fill: #32425c;
}
.user-list a:active,
.user-list-catalog a:active{
	color: #444444;
	opacity: 0.3;
}
.user .user-name:hover,
.user .user-name:active{
	color: #000000;
}
.user-name{
	padding: 0;
	margin-left: 47px;
	position: relative;
}
.user-logo{
	position: absolute;
	right: 36%;
}
.logo-user{
	fill: #c5c5c5;
	position: absolute;
	top: 13px;
	left: -33px;
}
.title{
	font-size: 29px;
	line-height: 24px;
	text-transform: uppercase;
	color: #32425c;
}
.logo-top{
	width: 220px; 
	background-color: #ee3643;
	color: #ffffff;
	font-size: 24px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 5px 0px #b52933;
	box-shadow: 0px 5px 0px #b52933;
}
.logo-foot{
	width: 220px;
	background-color: #ee3643;
	color: #ffffff;
	font-size: 24px;
	line-height: 65px;
	text-align: center;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 4px 0px #b52933;
	box-shadow: 0px 4px 0px #b52933;
}
.logo-top:hover,
.logo-top:focus,
.logo-foot:hover,
.logo-foot:focus{
	background-color: #ca2c37;
}
.logo-top:active,
.logo-foot:active{
	background-color: #ba2732;
}
.information{
	font-size: 13px;
	line-height: 24px;
}
.partners-list{
	font-size: 18px;
	line-height: 17px;
	font-weight: 350px;
}
.button{
	background-color: #ee3643;
	color: #ffffff;
}
.global-button{
	border: 0px;
	padding: 0px;
}
.main-footer{
	color: #ffffff;
}
.footer-dark{
	background-color: #293449;
}
.link{
	color: #f1d092;
}
.foot-nav-list-second a{
	color: #f1d092;
}
.foot-nav-list-first a:hover,
.foot-nav-list-first a:focus,
.foot-nav-list-second a:hover,
.foot-nav-list-second a:focus{
	text-decoration: underline;
}
.foot-nav-list-first a:active,
.foot-nav-list-second a:active{
	text-decoration: none;
	opacity: 0.5;
}
.link a:hover,
.link a:focus{
	text-decoration: underline;
}
.underline a{
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
}
.underline a,
.address-top{
	color: #32425c;
}
.address{
	display: block;
	margin-left: 3px;
}
.user-list .personal a{
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}
.user-list .personal:hover,
.user-list .personal:focus{
	color: #000000;
}
.address-top{
	font-size: 14px;
	line-height: 24px;
}
.phone-number{
	font-size: 21px;
	line-height: 21px;
	color: #e9292a;
}
.footer-contacts .phone-number{
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	margin-left: 3px;
}
.green{
	background-color: #63a63e;
}
.red{
	background-color: #ee3643;
}
.grey{
	background-color: #f3f7f9; 
}
.previous-page li{
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
	position: relative;
}
.previous-page a{
	color: #000000;
}
.discr-wrap{
	display: block;
}
.discription h2, 
.contacts h2{
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 15px;
	font-size: 29px;
}
.discription p, 
.contacts p{
	font-family: "PT Sans","Arial",sans-serif;
}
.discription span, 
.contacts span{
	display: block;
}
.discription,
.contacts{
	font-size: 13px;
	line-height: 24px;
}
.link:focus,
.link:hover{
	text-decoration: underline;
}
.link:active{
	text-decoration: none;
	color: #ee3643;
}
.filters-list{
	font-size: 15px;
	line-height: 20px;
	color: #000000;
}
.filters-list h3{
	font-size: 17px;
	line-height: 30px;
	font-weight: 700px;
	color: #000000;
}
.main-header h1{
	font-family: "Cuprum","Arial",sans-serif; 
	font-size: 16px;
	line-height: 11.5px;
	font-style: italic;
	color: #ee3643;
	font-weight: normal;
	margin-left: 51px;
	padding-top: 5px;
}
.slide-wrap{
	display: block;
}
.search{
	width: 270px;
	height: 41px;
	color: #ffffff;
	border: none;
	background: transparent;
	position: relative;
	padding-left: 47px;
}
.search-icon{
	position: absolute;
	top: 12px;
	left: 17px;
	fill: rgba(255,255,255,0.3);
}
.search:focus,
.search:hover{
	background: #212a3a;
	color: #00000000;
}
.search-form:hover .search-icon{
	fill: rgba(255,255,255,1);
}
.search:focus{
	background-color: #ffffff;
}
.search:focus + .search-icon{
	fill: #ee3643;
}
input[type="search"]::-webkit-input-placeholder{
    color: #ffffff;
} 
input[type="search"]::-moz-placeholder{
    color: #ffffff;
}
input[type="search"]:focus{
    color: #000000;
} 
input[type="search"]:focus .search-icon{
   	fill: #ee3643;
} 
input[type="search"]:hover{
    color: #000000;
}
.main-header{
	margin-bottom: 16px;
	background: red;
}
.header-top{
	width: 100%;
	background-color: #293449;
	margin: 0;
}
.order-list,
.order-list-catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
}
.order-list a,
.order-list-catalog a{
	display: block;
}
.order-list li,
.order-list-catalog li{
	position: relative;
	width: 150px;
}
.header-bottom{
	width: 100%;
	background-color: #f3f7f8;
	padding-bottom: 64px;
	padding-top: 38px;
	margin-bottom: 59px;
}
.center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.slogan-wrap-second-line{
	display: block;
	line-height: 36px;
}
.slogan-wrap-third-line{
	display: block;
	line-height: 11px;
}
.slogan-wrap{
	width: 300px;
}
.header-contacts{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-right: 31px;
}
.phone-top{
	display: block;
	width: 264px;
	line-height: 40px;
	-webkit-box-shadow: 0 0 0px 3px #ffffff;
	box-shadow: 0 0 0px 3px #ffffff;
	text-align: center;
	margin-bottom: 7px;
	margin-top: 10px;
	position: relative;
	background-image: url("../img/icon-phone.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 50%;
  	padding-left: 22px;
}
.address-top{
	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	margin-left: 7px;
}
.user-action{
	width: 300px;
	height: 45px;
	margin-top: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.user-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 300px;
	margin: 0;
	padding: 0;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.user-list li:nth-child(1){
	display: block;
	width: 120px;
	line-height: 45px;
	background-color: #ffffff;
	text-align: center;
}
.login{
	fill: #c5c5c5;
	position: absolute;
	top: 4px;
	left: -33px;
}
.user-login:hover .login{
	fill: #32425c;
}
.user-list li:nth-child(2){
	display: block;
	width: 150px;
	line-height: 45px;
	background-color: #ffffff;
	text-align: center;
	margin-left: 10px;
}
.user-item a:nth-child(1){
	margin-left: 20px;
	position: relative;
}
.user-list-catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 300px;
	margin-top: 8px;
}
.user-exit{
	margin-left: 35px;
}
.exit{
	fill: #c5c5c5;
}
.exit:hover,
.exit:active,
.user .user-logo:hover,
.user .user-logo:active{
	fill: #32425c;
}
.info-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 35px;
}
.info-wrap-catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 35px;
}
.nav-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.nav-list{
	margin: 0;
	padding: 0;
	width: 960px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: #32425c;
	-webkit-box-shadow: 0px 5px 0px #293449;
	box-shadow: 0px 5px 0px #293449;
}
.nav-list a{
	line-height: 55px;
	display: block;
	text-align: center;
}
.nav-company{
	padding-left: 32px;
	padding-right: 29.5px;
}
.nav-catalog{
	padding-left: 29.5px;
	padding-right: 30px;
}
.nav-news{
	padding-left: 30px;
	padding-right: 29.5px;
}
.nav-offers{
	padding-left: 29.5px;
	padding-right: 31.5px;
}
.nav-delivery{
	padding-left: 31.5px;
	padding-right: 31px;
}
.nav-contacts{
	padding-left: 31px;
}
.padding-left a{
	padding-left: 51px;
	padding-right: 32px;
}
.padding-right a{
	padding-right: 52px;
}
.main-wrap{
	width: 100%;
	background-color: #ffffff;
}
.wrap-menu-top{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 20px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.wrap-menu-bottom{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 52px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	min-height: 266px;
	-ms-flex-line-pack: justify;
	align-content: space-between;
}
.materials{
	width: 300px;
	background-color: #ffbf47;
	background-image: url("../img/materials.svg");
  	background-repeat: no-repeat;
  	background-position: 210px 30px;
  	position: relative;
  	padding-bottom: 23px;
  	padding-top: 21px;
}
.materials::before{
	content:"";
	position: absolute;
	background:url("../img/new-flag.png") no-repeat 100% 0px;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
}
.instruments{
	width: 300px;
	background-color: #3bbce3;
	background-image: url("../img/instruments.svg");
  	background-repeat: no-repeat;
  	background-position: 195px 30px;
  	padding-bottom: 23px;
  	padding-top: 21px;
}
.technics{
	width: 300px;
	background-color: #dc91d8;
	background-image: url("../img/technics.svg");
  	background-repeat: no-repeat;
  	background-position: 192px 30px;
  	padding-bottom: 23px;
  	padding-top: 21px;
}
.slyder-catalog{
	width: 620px;
	height: 266px;
	background-color: darkcyan;
	position: relative;
}
.arrow-left{
	position: absolute;
	width: 67px;
	height: 53px;
	left: -12px;
	top: 98px;
}
.arrow-right{
	position: absolute;
	width: 73px;
	height: 68px;
	left: 533px;
	top: 98px;
}
.arrow-left::before{
	content: "";
	position: absolute;
	background-image: url("../img/icon-right.svg");
	background-repeat: no-repeat;
	background-position: 8px 4px;
	width: 81px;
	height: 61px;
	right: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.arrow-right::before{
	content: "";
	position: absolute;
	background-image: url("../img/icon-right.svg");
	background-repeat: no-repeat;
	background-position: 42px 17px;
	width: 70px;
	height: 60px;
	right: 0;
}
.slider-controls{
	position: absolute;
    left: 50%;
    bottom: 20%;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slider-controls label{
	position: relative;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right:2px;
	vertical-align: top;
}
.slider-controls label::after{
    content: "";
    position: absolute;
    top: 26px;
    left: 5px;
    z-index: 1;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
}
.slider-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-item{
    display: none;
}
.slider-item:first-child{
    width: 620px;
    height: 266px;
    background-image: url("../img/slider-1.jpg");
    background-repeat: no-repeat;
    background-position: 0 0px;
}
.slider-item:last-child{
    width: 620px;
    height: 266px;
    background-image: url("../img/slider-2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1){
    display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2){
    display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before{
    content: "";
    position: absolute;
    left: 59%;
    top: 175%;
    z-index: 2;
    width: 7px;
    height: 7px;
    margin: -4px;
    background-color: red;
    border-radius: 50%;
}
.slider-item h3{
	padding: 0;
	margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 750;
    color: #ffffff;
    padding-left: 24px;
    padding-top: 23px;
    margin-bottom: 4px;
}
.slider-item p{
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    font-size:18px;
}
.sales{
	width: 300px;
	background-color: #8ed78f;
	margin-bottom: 20px;
	background-image: url("../img/sales.svg");
  	background-repeat: no-repeat;
  	background-position: 194px 30px;
  	padding-bottom: 22px;
  	padding-top: 21px;
}
.delivery{
	width: 300px;
	background-color: #ffc047;
	background-image: url("../img/delivery.svg");
  	background-repeat: no-repeat;
  	background-position: 190px 30px;
  	padding-bottom: 22px;
  	padding-top: 21px;
}
.menu-link{
	display: block;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	width: 135px;
	line-height: 38px;
	margin: 0;
    margin-left: 0px;
	padding: 0;
	border-radius: 4px;
	margin-left: 25px;
	background-color: rgba(0,0,0,0.1);
}
.menu-link:hover{
	background-color: rgba(0,0,0,0.2);
}
.menu-link:active{
	background-color: rgba(0,0,0,0.3);
}
.menu-title p{
	position: relative;
	padding: 0;
	margin: 0;
	margin-left: 22px;
	margin-bottom: 12px;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}
.technics .menu-block,
.sales .menu-block,
.delivery .menu-block{
	margin-left: 23px;
}
.slyder-catalog{
	position: relative;
}
.open-catalog{
	display: block;
	width: 195px;
	line-height: 38px;
	background-color: #ee3643;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	position: absolute;
	margin-top: 123px;
	margin-left: 25px;
}
.popular{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
	padding: 0 0px;
	background: #f9f5f0;
	margin-bottom: 20px;
	line-height: 90px;
	align-items: center;
}
.popular h2{
	color: #32425c;
	margin: 0;
	margin-left: 27px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight:normal;
}
.manufacturers-wrap h2{
	color: #32425c;
	margin: 0;
    margin-left: 0px;
	margin-left: 23px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: normal;
}
.popular a{
	margin-top: 1px;
	margin-right: 24px;
	line-height: 40px;
	display: block;
	background-color: #ee3643;
	color: #ffffff;
	border-radius: 5px;
	width: 253px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}
.manufacturers-wrap a{
	margin-top: -2px;
	margin-right: 24px;
	line-height: 38px;
}
.stuff-center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.stuff-list{
	width: 960px;
    margin: 0;
	padding: 0;
	font-size: 0;
}
.stuff-item{
	position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 22px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    vertical-align: top;
}
.stuff-item:nth-child(4n){
	margin-right: 0;
}
.stuff-item .flag{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.stuff-item:last-child .flag-new{
    background: url("../img/new-flag.png") no-repeat 0 0;
}
.stuff-item .image{
    width: 218px;
    height: 168px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.stuff-item .product{
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;   
    font-family: "PT Sans","Arial",sans-serif; 
    font-size: 18px;
}
.stuff-item .discount{
    min-height: 20px;
    margin-top: -3px;
    margin-bottom: 14px;
    color: #999;
    text-decoration: line-through;
    font-family: "PT Sans","Arial",sans-serif;
}
.stuff-item .discount-hide,
.catalog-item .discount-hide{
	visibility: hidden;
}
.stuff-item .price{
    position: relative;
    width: 140px;
    margin: -7px 42px;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
    font-family: "PT Sans","Arial",sans-serif;
}
.stuff-item .price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -21px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}
.manufacturers-center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.manufacturers-wrapper{
	margin-bottom: 67px;
}
.manufacturers-list{
	margin: 0;
	padding: 0;
}
.manufacturers-list li{
	width: 220px;
	border: 1px solid #ccc;
	text-align: center;
	margin-bottom: 20px;
	height: 143px;
	display: inline-block;
	vertical-align: top;
}
.manufacturers-list li:not(:nth-child(4n)){
	margin-right: 16px;
}
.manufacturers-item a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.brand-img img:active{
	opacity: 0.3;
}
.interskol{
	margin-top: -15px;
}
.hitachi{
	margin-top: 6px;
	margin-left: 5px;
}
.dewalt{
	margin-top: -5px;
}
.makita{
	margin-top: -5px;
}
.bosch{
	margin-top: -2px;
}
.metabo{
	margin-top: -5px;
	margin-left: 3px;
}
.lg{
	margin-left: -3px;
	margin-top: 2px;
}
.bfg-3000{
	margin-top: -1px;
	margin-left: -13px;
}
.bfg-6000{
	margin-left: -22px;
}
.bfg-9000{
	margin-top: 6px;
}
.bfg-2000{
	margin-left: -29px;
}
.catalog-bfg-6000{
	margin-left: -14px;
}
.catalog-bfg-2000{
	margin-left: -10px;
}
.manufacturers-list li:hover{
	border: none;
	-webkit-box-shadow: 0 0 15px 5px #ccc;
	box-shadow: 0 0 15px 5px #ccc;
	width: 220px;
	height: 143px;
}
.manufactures-list li:active{
	-webkit-box-shadow: 0 0 15px 1px #ccc;
	box-shadow: 0 0 15px 1px #ccc;
}
.manufacturers-item a:hover{
	-webkit-box-shadow: 0 0 15px 5px #ccc;
	box-shadow: 0 0 15px 5px #ccc;
}
.manufacturers-item a:active{
	opacity: 0.3;
	-webkit-box-shadow: 0 0 15px 1px #ccc;
	box-shadow: 0 0 15px 1px #ccc;
}
.service{
	width: 100%;
	background-color: #f4f7f9;
	padding-bottom: 15px;
}
.service-wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.service-slogan{
	margin-bottom: 75px;
}
.service-slogan h2{
	font-size: 29px;
	line-height: 30px;
	padding-top: 65px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	padding-top: 65px;
	padding-bottom: 30px;
}
.service-slogan p{
	font-family: "PT Sans","Arial",sans-serif;
	padding: 0;
	margin: 0;
	font-size: 13px;
}
.service-slogan p:first-of-type{
	margin-bottom:9px;
}
.slyder{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.control{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 240px;
	margin-right: 60px;
}
.shadow-wrap{
	background-image: url("../img/shadow.png");
  	background-repeat: no-repeat;
  	background-position: 0px 195px;
  	width: 20px;
	height: 500px;
	position: absolute;
	margin-left:230px;
}
.slyder-page{
	width:650px;
}
.slider1-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider1-list p{
	font-family: "PT Sans","Arial",sans-serif;
}
.slide1-title{
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 36px;
    line-height: 24px;
    font-weight: 350;
}
.slider1-item:first-child{
	width: 640px;
    background-image: url("../img/delivery-car.png");
    background-repeat: no-repeat;
    background-position: 171px 19px;
    padding-bottom: 101px;
}
.slider1-item:nth-child(2){
	width: 640px;
    height: 266px;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;
  	background-position: 255px 0px;
}
.slider1-item:last-child{
  	width: 640px;
  	height: 266px;
  	background-image: url("../img/credit.png");
  	background-repeat: no-repeat;
  	background-position: 171px 0px;
}
.control label{
	color: #ffffff;
	font-size: 21px;
  	display: inline-block;
  	width: 240px;
  	height: 61px;
  	vertical-align: top;
  	background-color: #32425c;
  	cursor: pointer;
}
.control label:not(:first-child){
	border-top: 1px solid #4e637b;
}
.control label:hover,
.control label:focus{
	background-color: #293449;
}
.control-name{
	display: block;
	padding-left: 22px;
	padding-top: 17px;
	font-weight: bold;
}
.visually-hidden{
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	clip: rect(0, 0, 0, 0);
}
.slide1{
  	display: none;
}
#delivery:checked ~ .slyder #slide1,
#garanty:checked ~ .slyder #slide2,
#credit:checked ~ .slyder #slide3{
  	display: block;
}
#delivery:checked ~ .slyder label[for="delivery"],
#garanty:checked ~ .slyder label[for="garanty"],
#credit:checked ~ .slyder label[for="credit"]{
  	background-color: #ffffff;
  	color:#32425c;
  	border:none;
}
.delivery-title{
	margin-top: 4px;
	text-transform: uppercase;
	margin-left: 20px;
	margin-bottom: 31px;
}
.delivery-text{
	margin-left: 20px;
	font-size: 13px;
	margin-top: 30px;
	line-height: 1.85;
	font-family: "PT Sans","Arial",sans-serif;
	width: 300px;
	word-wrap: break-word;
}
.garanty-title{
	margin-top: 4px;
	text-transform: uppercase;
	margin-left: 20px;
	margin-bottom: 31px;
}
.garanty-text{
	margin-left: 20px;
	font-size: 13px;
	margin-top: 30px;
	line-height: 1.85;
}
.credit-title{
	margin-top: 4px;
	text-transform: uppercase;
	margin-left: 20px;
	margin-bottom: 31px;
}
.credit-text{
	margin-left: 20px;
	font-size: 13px;
	margin-top: 30px;
	line-height: 1.85;
}
.credit-button{
	width: 195px;
	font-size: 14px;
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
	background-color: #ee3643;
	color: #ffffff;
	margin-top: 21px;
	margin-left: 20px;
}
.information{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background-color: #ffffff;
	padding-top: 82px; 
	padding-bottom: 85px; 
}
.discription{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0px;
	width: 540px;
	margin-right: 100px;
	font-family: "Cuprum","Arial",sans-serif; 
}
.discription p:first-of-type{
	margin-bottom: 11px;
}
.contacts{
	width: 300px;
}
.contacts p{
	margin-top: 28px;
}
.contacts img{
	margin-top: 19px;
	width: 300px;
	margin-bottom: 30px;
}
.contacts img:hover{
	cursor: pointer;
}
.more-about{
	width: 220px;
	line-height: 38px;
	margin-top: 15px;
}
.write-us{
	line-height: 38px;
	width: 300px;
	margin-top: auto;
	cursor: pointer;
}
.button{
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
	font-size:13px;
	cursor: pointer;
}
.foot-navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	background-color: #32425c;
	padding-bottom: 50px;
}
.foot-center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.foot-contacts{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 380px;
	margin-right: 10px;
}
.footer-contacts{
	font-size: 18px;
	line-height: 24px;
}
.logo-foot{
	font-size: 30px;
	margin-bottom: 30px;
}
.foot-nav{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 558px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.foot-nav-list-first li{
	padding-top: 15px;
}
.foot-nav-list-first,
.foot-nav-list-second{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.foot-nav-list-first li,
.foot-nav-list-second li{
	font-size: 18px;
	line-height: 24px;
}
.foot-nav-list-first li{
	margin-right: 59px;
}
.foot-nav-list-first li:last-child{
	margin-right: 0px;
}
.foot-nav-list-first li:first-child{
	margin-left: 3px;
}
.foot-nav-list-second li{
	margin-right: 60px;
}
.foot-nav-list-second li:last-child{
	margin-right: 0px;
}
.foot-nav-list-first{
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 22px;
}
.foot-nav-list-second{
	padding-left: 25px;
}
.foot-feedback{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	background-color: #293449;
	padding-top: 32px;
	font-size: 16px;
	line-height: 18px;
}
.feedback-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.copyrights{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 320px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.copyrights p{
	margin-top: 5px;
}
.copyrights-wrap{
	display: block;
}
.feedback-contacts{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 320px;
}
.feedback{
	margin: 0;
	margin-top: 5px;
	margin-left: 20px;
}
.footer-copyright{
	margin-top: 5px;
	margin-left: 52px;
}
.social-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	margin-left: -70px;
	margin-top: 2px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.social-list li:not(:last-child){
	margin-right: 2px;
}
.social-button{
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	align-items: center;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	justify-content: center;
  	width: 43px;
  	height: 43px;
  	border-radius: 30px;
  	background-color: #212a3a;
}
.social-button:hover,
.social-button:active{
	background-color: #ee3643;
}
.order-list a,
.order-list-catalog a{
	line-height: 42px;
	display: block;
	margin-left: 17px;
}
.order-list-catalog .nav-cart{
	margin-left: 23px;
}
.checkout a{
	margin-left: -2px;
}
.partners-list{
	padding: 0;
	margin: 0;
	margin-top: 9px;
}
.partners-list li{
	position: relative;
	margin-left: 35px;
	margin-bottom: 23px;
	
}
.partners-list li::before{
	content: "";
	position: absolute;
	top: 8px;
 	left: -35px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.red-button:hover{
	background-color: #ca2c37;
}
.red-button:active{
	background-color: #ba2732; 
}
.user{
	width: 300px;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	line-height: 45px;
	margin-bottom: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.user-action-catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 18px;
	position: relative;
	flex-wrap: wrap;
}
.user-action-catalog li:first-child{
	margin-left: 17px;
}
.user-action-catalog li:first-child{
	margin-right: 31px;
}
.user-action-catalog .my-order::after{
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #32425c;
	right: 188px;
	top: 7px;
}
.header-bottom-catalog{
	width: 100%;
	background-color: #f3f7f8;
	padding-bottom: 64px;
	padding-top: 38px;
	margin-bottom: 16px;
}
.page-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.previous-page{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 5px;
	font-family: "PT Sans","Arial",sans-serif;
}
.previous-page li{
	position: relative;
	margin-right: 40px;
	font-size: 13px;
}
.previous-page li:last-child{
	margin-right: 0px;
	margin-left: -8px;
}
.home-link{
	display: block;
}
.previous-page li:first-child::after{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-right-small.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	top: 2px;
  	right: -33px;
}
.previous-page li:nth-child(2)::after{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-right-small.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	top: 2px;
  	right: -37px;
}
.previous-page li:nth-child(3){
	margin-right:50px;
}
.previous-page li:nth-child(3)::after{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url("../img/icon-right-small.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	top: 2px;
  	right: -37px;
}
.previous-page li:last-child::after{
	display: none;
}
.discrip{
	width: 100%;
	background-color: #f2f6f8;
}
.discription-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-bottom: 69px;
	padding-top: 65px;
}
.discription-wrapper h2{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}
.discription-wrapper p{
	font-size: 13px;
	line-height: 24px;
	width: 960px;
	font-family: "PT Sans","Arial",sans-serif;
	margin: 0;
	margin-top: 26px;
}
.title-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.title{
	width: 960px;
	background-color: #f2f6f8;
	padding-top: 33px;
	padding-bottom: 33px;
	padding-left: 27px;
}
.main-wrap-catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.price-filter{
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	margin-top: 16px;
	font-family: "PT Sans","Arial", sans-serif;
	font-size: 17px;
}
.range-item{
    margin: 0;
    padding: 0;
    border: none;
}
.range-filter{
	margin-top: 19px;
}
.range-controls{
  	position: relative;
  	margin-bottom: 9px;
  	padding-top: 41px;
  	padding-right: 20px;
  	padding-left: 20px;
  	background-color: #f7f3ec;
  	border-radius: 3px;
  	padding-bottom: 39px;
}
.range-controls .scale{
  	height: 2px;
  	background: #d7dcde;
  	margin-top: -2px;
}
.range-controls .bar{
  	width: 85%;
  	height: 2px;
  	background: #00ca74;
}
.range-controls .toggle{
  	position: absolute;
  	top: 31px;
  	left: 0;
  	width: 4px;
  	height: 4px;
  	padding: 0;
  	border: 10px solid #ffffff;
  	background-color: #ababab;
  	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  	box-shadow: 0 2px 1px 0 #cfcfcf;
  	border-radius: 50%;
    cursor: pointer;
}
.range-controls .toggle-min{
  	left: 20px;
  	margin-top: -2px;
}
 .small-toggle-min{
	width: 4px;
	height: 4px;
	background-color: #ababab;
	position: absolute;
	border-radius: 2px;
	top: -1px;
	left: -2px;
}
.small-toggle-max{
	width: 4px;
	height: 4px;
	background-color: #ababab;
	position: absolute;
	border-radius: 2px;
	left: -2px;
	top: -1px;
}
.range-controls .toggle-max{
  	left: 160px;
  	margin-top: -2px;
}
.price-controls{
  	font-size: 0;
  	margin-bottom: 18px;
}
.price-controls label{
  	display: inline-block;
  	font-size: 16px;
  	text-transform: uppercase;
  	width: 90px;
  	height: 38px;
  	vertical-align: top;
}
.price-controls input{
  	padding: 7px 15px;
    font-family: "PT Sans","Arial",sans-serif; 
  	font-size: 17px;
  	text-align: center;
  	color: #283136;
  	border: none;
  	border-radius: 5px;
  	background-color: #f7f3ec;
   	width: 95px;
	height: 38px;
}
.max-price{
	position: relative;
	margin-left: 35px;
}
.max-price::before{
	content: "";
	position: absolute;
	height: 1px;
	width: 9px;
	background-color: #000000;
	top: 10px;
	top: 20px;
	left: -19px;
}
.filters{
	width: 220px;
}
.filters{
	padding: 0;
	margin: 0;
}
.filters fieldset{
	padding: 0;
  	margin: 0;
  	margin-bottom: 26px;
	border: none;
}
.filters-list{
  	padding: 0;
  	margin: 0;
  	list-style: none;
  	line-height: 20px;
  	font-size: 15px;
}
.filter-list-h3{
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700px; 
	position: relative;
	margin: 0;
	margin-bottom: 13px;
	font-family: "PT Sans","Arial",sans-serif;
}
.filters-list h3::before{
	content: "";
	position: absolute;
	width: 220px;
	height: 1px;
	background-color: #ccc;
	top: -20px;
}
.filters-list li{
	margin-bottom: 19px;
	padding-left: 35px;
	font-family: "PT Sans","Arial",sans-serif;
}
.filters-item label{
  	position: relative;
  	font-size: 15px;
  	line-height: 20px;
  	text-transform: uppercase;
  	display: block;
  	cursor: pointer;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}
.filter-input-checkbox + label::before{
  	content: "";
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	left: -36px;
  	top: -2px;
  	background-image: url("../img/checkbox-off.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
}
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:disabled + label::before{
  	content: "";
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	left: -36px;
  	top: -2px;
  	background-image: url("../img/checkbox-off-hover.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
}
.filter-input-checkbox:checked + label::before{
  	content: "";
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	left: -35.5px;
  	top: -2px;
  	background-image: url("../img/checkbox-on.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
}
.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before,
.filter-input-checkbox:checked:disabled + label::before{
  	content: "";
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	left: -35.5px;
  	top: -2px;
 	background-image: url("../img/checkbox-on-hover.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
}
.filter-input-radio + label::before{
   	content: "";
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	left: -36px;
  	top: -2px;
  	background-image: url("../img/radio-off.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
}
.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:disabled + label::before{
   	content: "";
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	left: -36px;
  	top: -2px;
  	background-image: url("../img/radio-off-hover.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
}
.filter-input-radio:checked + label::before{
   	content: "";
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	left: -36px;
  	top: -2px;
  	background-image: url("../img/radio-on.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
}
.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before,
.filter-input-radio:checked:disabled + label::before{
   	content: "";
  	position: absolute;
  	width: 30px;
  	height: 30px;
  	left: -36px;
  	top: -2px;
  	background-image: url("../img/radio-on-hove.svg");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
}
.send-button{
	margin-top: 60px;
	border: 1px solid #ccc;
	padding: 0;
	background-color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 35px;
	border-radius: 3px;
	min-width: 138px;
	color: #000000;
	cursor: pointer;
	font-family: "PT Sans","Arial",sans-serif;
}
.send-button:hover,
.send-button:focus{
	border: 1px solid #bdc6ca;
}
.send-button:active{
	border: 1px solid #ee3643;
}
.filter-title{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 3px;
	width: 220px;
	background-color: #f7f3ec;
}
.filter-title h2{
	margin-left: 19px;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans","Arial",sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}
.sort{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #f7f3ec;
	border-radius: 3px;
	line-height: 39px;
	width: 700px;
	margin-bottom: 18px;
	flex-wrap: wrap;
}
.sort .active{
	opacity: 1;
	border-bottom: none;
	color: #ee3643;
}
.form{
	position: relative;
}
.sort a,
.sort h3{
	padding: 0;
	margin: 0;
	font-size: 13px;
	font-family: "PT Sans","Arial",sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}
.sort h3{
	margin-left: 19px;
	margin-right: 140px;
}
.sort-list{
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}
.sort a{
	color: #000000;
	opacity: 0.3;
	border-bottom: 1px dotted #ee3643;
}
.sort-list .sort-up,
.sort-list .sort-up{
	opacity: 1;
}
.sort .sort-up,
.sort .sort-down{
	border-bottom: none;
}
.sort .sort-price{
	margin-right: 72px;
}
.sort .sort-type{
	margin-right: 66px;
}
.sort .sort-func{
	margin-right: 44px;
}
.sort .sort-up{
	margin-right: 21px;
}
.sort a:hover,
.sort a:focus{
	opacity: 1;
	border-bottom: 1px solid #ee3643;
}
.sort .sort-up:hover,
.sort .sort-down:hover,
.sort .sort-up:focus,
.sort .sort-down:focus{
	border-bottom:none;
}
.sort a:active{
	opacity: 1;
	border-bottom: none;
	color: #ee3643;
}
.up-active{
	fill:rgba(238, 54, 67, 1);
}
.up:hover,
.down:hover,
.up:focus,
.down:focus{
	fill: #000000;
}
.up:active,
.down:active{
	fill: #ee3643;
}
.catalog{
	width: 700px;
}
.catalog-list{
	width: 700px;
    font-size: 0;
    margin: 0;
    padding: 0;
}
.catalog-item{
	position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 23px;
    margin-bottom: 19px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}
.catalog-item:nth-child(3n){
    margin-right: 0;
}
.catalog-item{
    font-size: 16px;
}
.catalog-item .flag{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.catalog-item:nth-child(3) .flag-new,
.catalog-item:nth-child(5) .flag-new,
.catalog-item:nth-child(7) .flag-new
{
    background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-item .image{
    width: 218px;
    height: 168px;
}
.catalog-item  img{
    max-width: 100%;
}
.catalog-item .actions,
.stuff-item .actions{
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
.buy{
    display: block;
    width: 135px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum","Arial",sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
    background-color: #63a63e;
    margin-top: 4px;
}
.catalog-cart{
	position: absolute;
	top: 30.5%;
	left: 25.5%;
	fill: rgba(255,255,255,0.3);
}
.buy:hover .catalog-cart,
.buy:focus .catalog-cart{
	fill: rgba(255,255,255,1);
}
.buy:hover,
.buy:focus{
	border: 3px solid #5fbb2d;
	background-color: #5fbb2d;
	border-bottom-color: #367315; 
}
.buy:active{
	border: 3px solid #518534;
	background-color: #518534;
	border-bottom-color: #518534; 
}
.bookmark{
	display: block;
    width: 135px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum","Arial",sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}
 .bookmark{
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}
.bookmark:hover,
.bookmark:focus{
 	border: 3px solid #32425c;
}
.bookmark:active{
	border: 3px solid #c1c6ce;
	opacity: 0.3;
}
.stuff-item .bookmark{
	color: #32425c;
}
.catalog-item .actions,
.stuff-item .actions{
    display: none;
}
.catalog-item:hover .actions,
.stuff-item:hover .actions,
.catalog-item:focus .actions,
.stuff-item:focus .actions{
    display: block;
}
.catalog-item .image{
	display: block;
    width: 218px;
    height: 168px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 39px;
}
.catalog-item .product{
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;   
    font-family: "PT Sans","Arial",sans-serif; 
    font-size: 18px;
}
.catalog-item .discount{	
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 11px;
    color: #999;
    text-decoration: line-through;
    font-family: "PT Sans","Arial",sans-serif;
}
.catalog-item .price{
    position: relative;
    width: 141px;
    margin: -7px 42px;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
    font-family: "PT Sans","Arial",sans-serif;
}
.catalog-item .price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}
.page-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	padding: 0;
  	margin: 0;
  	margin-bottom: 60px;
  	margin-top: 32px;
}
.page-item:not(:last-child){
	margin-right: 9px;
}
.page-item a{
 	display: block;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 9px 15px;
    border-radius: 3px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid lightgrey;
    text-transform: uppercase;
}
.page-item .active-page{
	display: block;
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 9px 15px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
    border:1px solid #ee3643;
    text-transform: uppercase;
}
.page-list li:nth-child(3){
	margin-right: 9px;
}
.page-item a:hover{
	border: 1px solid #bdc6ca;
}
.page-item a:active{
	color: #000000;
    border: 1px solid #ee3643;
}
.page-item:last-child a{
	padding-left: 30px;
	padding-right: 30px;
}
.modal{
	display: none;
}
.modal-show{
	display: block;
	animation-name: bounce;
	animation-duration: 0.7s;
}
@-webkit-keyframes bounce{
0%{
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
}
70%{
    -webkit-transform: translateY(-200px,-50%);
    transform: translateY(-200px,-50%);
}
90%{
    -webkit-transform: translateY(-30px,-50%);
    transform: translateY(-30px,-50%);
}
100% {
    -webkit-transform: translateY(0,-50%);
    transform: translateY(0,-50%);
}
}
@keyframes bounce{
0%{
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
}
70%{
    -webkit-transform: translateY(-200px,-50%);
    transform: translateY(-200px,-50%);
}
90%{
    -webkit-transform: translateY(-30px,-50%);
    transform: translateY(-30px,-50%);
}
100% {
    -webkit-transform: translateY(0,-50%);
    transform: translateY(0,-50%);
}
}
.modal-map{
	position: fixed;
    width: 960px;
    height: 451px;
    left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.modal-map p{
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 1;
  	margin: 0;
}
.modal-map iframe{
  	position: relative;
  	z-index: 2;
  	border: none;
}
.modal-map .modal-close{
	position: absolute;
	top: 23px;
	right: 20px;
	background-image: url("../img/icon-close.png");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
	border: none;
	background-color: transparent;
	font-size: 0;
	cursor: pointer;
	width: 25px;
	height: 25px;
	z-index: 3;
}
.modal-write-us{
	width: 621px;
	height: 430px;
	background-color: rgba(200,225,45,0.2);
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
  	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
  	z-index: 1000;
}
.write-top{
	width: 621px;
	height: 7px;
	background-color: #ee3643;
}
.write-us-form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.write-us-form p{
	padding: 0;
	margin: 0;
}
.write-center{
	width: 621px;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	height: 310px;
}
.write-bottom{
	width: 621px;
	background-color: #f1f1f1;
	height: 112px;
	margin-top: 36px;
}
.write-us-form .data{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 45px;
	margin-bottom: 20px;
}
.write-us-form .data-name{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 80px;
	margin-right: 20px;
}
.write-us-form .data-email{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.write-us-form .data-label{
	margin-bottom: 10px;
}
.write-us-form input[type="text"],
.write-us-form input[type="email"]{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 	box-sizing: border-box;
 	padding-left: 13px;
 	padding-top: 13px;
 	padding-bottom: 15px;
    width: 220px;
    height: 38px;
    border-radius: 3px;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size:15px;
}
.write-us-form textarea{
	width: 460px;
	height: 114px;
	border: 2px solid #ccc;
	border-radius: 3px;
	padding-left: 14px;
    padding-top: 8px;
    margin-top: 11px;
    resize: none;
    font-size: 15px;
}
.write-us-form .textarea{
	margin-left: 80px;
}
.write-us-form .input-name:hover,
.write-us-form .input-email:hover,
.write-us-form .input-textarea:hover{
	 border: 2px solid #b5b5b5;
}
.write-us-form .input-name:active,
.write-us-form .input-email:active,
.write-us-form .input-textarea:active,
.write-us-form .input-name:focus,
.write-us-form .input-email:focus,
.write-us-form .input-textarea:focus{
	 border: 2px solid #ee3643;
}
.write-us-form label{
	font-size: 18px;
	line-height: 18px;
}
.write-us-send{
	width: 460px;
	height: 38px;
	text-transform: uppercase;
	font-size: 14px;
	background-color: #ee3643;
	border-radius: 3px;
	line-height: 18px;
	color: #ffffff;
	margin-left: 80px;
	margin-top: 37px;
	cursor: pointer;
}
.write-us-send:focus,
.write-us-send:hover{
	background-color: #ca2c37;
}
.write-us-send:active{
	background-color: #ba2732;
}
.modal-write-us .modal-close{
	position: absolute;
	top: 9px;
	right: 6px;
	background-image: url("../img/icon-close.png");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
	border: none;
	background-color: #ffffff;
	font-size: 0;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
.modal-cart{
	position: fixed;
	width: 620px;
	height: 283px;
	background-color: rgba(255,243,34,0.9);
	margin-right: -50%;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
    z-index: 1000;
    left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.cart-top{
	width: 620px;
	height: 7px;
	background-color: #ee3643;
}
.cart-center{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 621px;
	height: 164px;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: url("../img/icon-mark.svg");
  	background-repeat: no-repeat;
  	background-position: 81px 48px;
}
.cart-center h2{
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	margin-left: 179px;
	margin-top: 19px;
}
.cart-bottom{
	width: 621px;
	height: 112px;
	background-color: #f1f1f1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.modal-cart .continue{
	width: 221px;
	height: 38px;
	background-color: #ee3643;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	cursor: pointer;
	font-weight: bold;
}
.modal-cart a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 221px;
	height: 40px;
	background-color: #ee3643;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #ffffff;
	text-transform: uppercase;
	margin-left: 80px;
	margin-right: 20px;
}
.ord:focus,
.ord:hover{
	background-color: #ca2c37;
}
.ord:active{
	background-color: #ba2732;
}
.modal-cart .modal-close{
	position: absolute;
	top: 15px;
	right: 6px;
	background-image: url("../img/icon-close.png");
  	background-repeat: no-repeat;
  	background-position: 5% 5%;
	border: none;
	background-color: #ffffff;
	font-size: 0;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
.window{
	position: fixed;
	display: none;
 	pointer-events: none;
}
.window:target{
	display: block;
 	pointer-events: auto;
	z-index: 90000;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.close{
	position: absolute;
	top: 50px;
	right: 12px;
	background-image: url("../img/icon-close.png");
	background-repeat: no-repeat;
	background-position: 9% 9%;
	border: none;
	background-color: #ffffff;
	font-size: 0;
	cursor: pointer;
	width: 25px;
	height: 25px;
	background-color: transparent;
}