body{
	margin:0;
	padding:0;
	font-family: "Cuprum",Arial,sans-serif; 
	background:#ffffff;
}
a{
	text-decoration: none;
}
.order-navigation{
	background-color:#293449;
	color:#ffffff;
	font-size:17px;
	line-height:18px; 
}
.order-list,
.nav-list,
.user-list,
.stuff-list,
.manufacturers-list,
.partners-list,
.foot-nav-list1,
.foot-nav-list2,
.social-list{
	list-style: none;
}
.order-list a,
.nav-list a,
.stuff-list a,
.manufacturers-list a,
.partners-list a,
.foot-nav-list1 a,
.foot-nav-list2 a,
.social-list a{
	color:#ffffff;
}
.header-dark{
	background-color:#32425c;
}
.header-gray{
	background-color:#f3f7f9; 
}
.user-navigation{
	font-size:21px;
	line-height:21px;
	background-color:#ffffff;
}
.user-list a{
		color:#000000;
}
.order-list a:hover,
.order-list a:focus{
	background:#212a3a;
}
.nav-list a:hover,
.nav-list a:focus{
	background-color:#293449;
}
.order-list a:active,
.nav-list a:active{
background-color:#1d2739;
opacity:0.6;
}
.order-list .green a:active{
	background-color:#518534;
	opacity:0.5;
}
.order-list .green a:hover,
.order-list .green a:focus{
background-color:#5fbb2d;
}
.user-list a:hover,
.user-list a:focus{
	color:#ee3643;
}
.user-list a:active{
	color:#444444;
	opacity:0.3;
}

.logo{
	background-color:#ee3643;
	color:#ffffff;
	font-size:24px;
	line-height:24px;
}
.logo:hover,
.logo:focus{
	background-color:#ca2c37;
}
.logo:active{
	background-color:#ba2732;
}
.information{
	font-size:13px;
	line-height:24px;
}
.partners-list{
	font-size:18px;
	line-height:20px;
	font-weight:350px;
}
.button{
	background-color:#ee3643;
	color:#ffffff;
}
button{
	border:0px;
}
.main-footer{
	background-color:#32425c;
	color:#ffffff;
}
.footer-dark{
	background-color:#293449;
}
.link{
	color:#f1d092;
}
.foot-nav-list2 a{
	color:#f1d092;
}
.foot-nav-list1 a:hover,
.foot-nav-list1 a:focus,
.foot-nav-list2 a:hover,
.foot-nav-list2 a:focus{
text-decoration: underline;
}
.foot-nav-list1 a:active,
.foot-nav-list2 a:active{
text-decoration: underline;
opacity:0.5;
}

.link a:hover,
.link a:focus{
text-decoration: underline;
}
.underline a{
	text-decoration: underline;
	font-size:16px;
	line-height:18px;
}
.underline a,
address{
	color:#32425c;
}
.user-list .personal a{
	font-size:21px;
	line-height:21px;
	color:#000000;
}
.user-list .personal:hover,
.user-list .personal:focus{
color:#000000;
}
address{
	font-size:14px;
	line-height:24px;
}
.phone-number{
	font-size:21px;
	line-height:21px;
	color:#e9292a;
}
.footer-contacts .phone-number{
	font-size:18px;
	line-height:24px;
	color:#ffffff;
}
.green{
	background-color:#63a63e;
}
.red{
	background-color:#ee3643;
}
.grey{
	background-color:#f3f7f9; 
}
.previous-page li{
	font-size:13px;
	line-height:18px;
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
}
.about h2{
	text-transform: uppercase;
}
.link:focus,
.link:hover{
	text-decoration: underline;
}
.link:active{
	text-decoration: none;
	color:#ee3643;
}